.applicants {
  padding: 20px;
}
.applicants_list {
  padding: 10px;
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
}
.applicant_details {
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 4px 5px 0 rgb(0 0 0 / 14%);
}
.applicants_image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.applicant_profile_image {
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 70%;
}
.applicants_name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.appropriate_action {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.view_button,
.selection_button,
.rejection_button {
  border: none;
  outline: none;
  color: #ffffff !important;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
.selection_button {
  background-color: rgb(65, 148, 65);
}
.rejection_button {
  background-color: rgb(189, 66, 66);
}
.view_button {
  background-color: rgb(69, 69, 168);
}
#view_button_url {
  color: #ffffff !important;
  text-decoration: none;
}
